.grid-container {

	@include breakpoint(medium){
		padding-left: rem-calc(40);
		padding-right: rem-calc(40);

		.grid-container {
			padding-left: 0;
			padding-right: 0;
		}
	}

	@include breakpoint(large){
		padding-left: rem-calc(50);
		padding-right: rem-calc(50);
		

		.grid-container {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&--small {
		max-width: rem-calc(1140);
	}

}

.off-canvas__inner {
	padding-top: rem-calc(50);
}