/******************************************************************

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants.

******************************************************************/

/*********************
GLOBAL TRANSITION MIXIN
Use like this: @include transition(property1, property2);
*********************/

@mixin transition($transition-property...) {
  transition: 0.25s cubic-bezier(.15,.75,.5,1);
  transition-property: $transition-property;
}

/*********************
COLORS
*********************/
@function color($col) {
  @return map-get($foundation-palette, '#{$col}');
}


/*********************
CSS3 GRADIENTS.
*********************/

/* @include css-gradient(#dfdfdf,#f8f8f8); */
@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}