@import "settings";
@import "mixins";
@import "components/fonts";
@import "components/glyphs";
@import "components/helpers";
//@import "components/typography";


body {
	//font-family: 'Gilroy';
}

.acf-postbox.seamless > .acf-fields > .acf-field.acf-accordion {
	border: none;
    border-bottom: #e5e5e5 solid 1px;
}

.acf-accordion {

	.acf-accordion-title {
		opacity: .5;
		background-color: #ffffff;
		font-family: 'Gilroy';
		box-shadow: 0 8px 18px 0 rgba(19, 35, 79, 0.1), 0 1px 4px 0 rgba(0, 0, 0, 0.20);
		transition: all .2s ease;

		label {
			font-size: 1.2em !important;
			font-weight: 500!important;

			b {
				font-weight: 600!important;
				letter-spacing: .05em;
				text-transform: uppercase;
				font-size: .9em;
			}
		}

		&:hover {
			opacity: .8;
		}

	}

	&.-open {
		
		.acf-accordion-title {
			opacity: 1!important;
		}

	}
}

.acf-accordion .acf-accordion-content {

	.acf-fields > .acf-field {
		padding: 2em !important;
	}

}