/******************************************************************

Stylesheet: Login Stylesheet

This stylesheet is loaded is only on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.

Make sure functions/admin.php is activated in your functions.php file.

This stylesheet is turned off by default.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/

@import "settings";

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font: 300 120% / 1.5em "Helvetica Neue", Arial, sans-serif;
	color: $black !important;
	background-color: #fff;
}


// Change the login logo

.login h1 {
	//display: none;
}

.login h1 a {
	background: url(../images/login-logo.svg) no-repeat top center;
	width: 280px;
	height: 60px;
	text-indent: -9999px;
	overflow: hidden;
	padding-bottom: 15px;
	display: block;
}


// Styling of error messeage box

.login #login_error, 
.login .message {
    font-size: 14px;
    line-height: 1.5;
    padding: 12px 18px;
    -webkit-box-shadow: 0 1px 10px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.15);
}


// Styling of form inputs

#loginform {
	background: transparent;
	box-shadow: none;
	padding-top: 0;

	label {
		color: $black;
		letter-spacing: .03em;
		margin-top: 2em;
		display: block;
	}
	input[type="password"],
	input[type="text"] {
		background: #fbfbfb !important;
		border: 1px solid #b3b3b3;
		border-radius: 3px;
		padding: 10px;
		outline: none;
		box-shadow: none !important;
		color: $black !important;

		&:focus {
			border-color: #555;
		}
	}
}


p a {
	font-size: 1.1em;
	font-weight: 400;
	color: $black !important;
	transition: color .25s ease;

	&:hover, &:focus {
		color: $primary-color !important;
	}
}

// Login Button Style
#wp-submit {
	display: block;
	width: 100%;
	padding: 20px;
	text-align: center;
	background: $primary-color;
	color: white;
	line-height: 1em !important;
	border: none !important;
	outline: none !important;
	text-shadow: none !important;
	text-transform: uppercase;
	box-shadow: none !important;
	font-size: 1em;
	font-weight: 700;
	height: auto;
	margin-top: 30px;
	transition: background .25s ease;

	&:hover, &:focus {
		background: lighten($primary-color,15%);
	}
}
