.bg-triangle {
	top: rem-calc(100);
	position: absolute;
	width: 33%;
	max-width: rem-calc(345);
	background-image: url('../images/rect-l.png');
	background-repeat: no-repeat;
	background-size: contain;
	
	&:after {
		content: "";
		display: block;
		padding-bottom: calc(689/345 * 100%);
	}

	&--left {
		left: 0;
	}

	&--right {
		right: 0;
		transform: scaleX(-1);
	}

}