.breadcrumb-section {
	border-bottom: 1px solid $light-gray;
	padding: rem-calc(20 0);
}

.breadcrumb {
	
	&__link {
		text-transform: uppercase;
		position: relative;
		color: $light-gray;
		font-weight: 600;
		font-size: rem-calc(14);
		
		&:hover,
		&:focus,
		&:active {
			color: $secondary-color;
		}

		&.is-active {
			color: $primary-color;
			
			&:hover,
			&:focus,
			&:active {
				color: $primary-color;
			}
	
			pointer-events: none;

		}

		/* Specific styling for home link */
		&--home {
			color: $primary-color;
		}

	}

	&__separator {
		
		display: inline-block;
		color: $light-gray;
		padding: 0 .5em;

	}

}