.button {
	display: inline-block;
	color: $white;
	background-color: $secondary-color;
	border-radius: rem-calc(6);
	text-transform: uppercase;
	font-weight: 600;
	padding: rem-calc(8 17);
	transition: background .2s ease;

	i {
		padding-right: rem-calc(8);
	}

	&:hover {
		background-color: $primary-color;
	}
}