.card {
	background-color: $white;
	border-radius: rem-calc(4);
	box-shadow: 0 2px 14px 0 rgba(14,68,88,0.2), 0 2px 9px 0 rgba(0,0,0,0.15);
	padding: rem-calc(20);

	&--padded {
		padding: rem-calc(30);
	}

}

.card__meta {
	margin-bottom: .25em;
	font-size: rem-calc(16);
	font-weight: 600;
}