/*********************
ENTRY CONTENT
*********************/

.entry-content {

	a:not(.link) {
		border-bottom: $secondary-color 1px solid;

		&:hover {
			color: $secondary-color;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}

	ul {
		padding: 0;

		li {
			@extend .text-default;

			list-style: none;
			position: relative;
			padding-left: 2em;
			margin-bottom: .85em;

			&:before {
				content: '\2022';
				position: absolute;
				top: .25em;
				left: 0;
				font-size: 1.8em;
				line-height: .4em;
				color: $secondary-color;
			}
		}

	}

	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

}

.entry-title {
	margin-bottom: 1em;
}


.wp-caption {
	max-width: 100%;

	// Images inside wp-caption
	img {
		max-width: 100%;
		margin-bottom: 0;
	}
}

.wp-caption-text {
	font-size: 0.85em;
	margin: 0.35rem 0 1.5rem;
}

/*********************
ARTICLE ITEM
*********************/

.article {
	padding: rem-calc(40 0);
	border-bottom: 1px solid $light-gray;

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		border-bottom: none;
	}

	.post-section & {
		border-bottom: none;
	}
}

.article__meta {

	a:hover {
		color: $primary-color;	
	}
}

.article__meta-sep {

	&:before {
		content: '\2022';
		display: inline-block;
		padding: rem-calc(0 10);
	}
}

.article__pdf-button {
	margin-bottom: 1.75rem;
}