.event {

}

.event__date {
	display: inline-block;
	min-width: rem-calc(100);

	@include breakpoint(medium up){
		min-width: rem-calc(130);
	}

	@include breakpoint(large up){
		min-width: rem-calc(160);
	}
}

.event--spaced {

	.event__date {
		float: right;
		min-width: 0;
		text-align: right;

		@include breakpoint(medium up){
			min-width: 0;
		}

		@include breakpoint(large up){
			min-width: 0;
		}
	}

	&:after {
		content: "";
		display: block;
		clear: both;
	}

}