$gilroy-font-path: '../fonts/Gilroy' !default;

@font-face {
	font-family: 'Gilroy';
	src: url('#{$gilroy-font-path}/Gilroy-Bold.otf');
	//src: url('#{$gilroy-font-path}/FuturaEF-Light.eot?#iefix') format('embedded-opentype'),
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('#{$gilroy-font-path}/Gilroy-Medium.otf');
	//src: url('#{$gilroy-font-path}/FuturaEF-Book.eot?#iefix') format('embedded-opentype'),
	font-weight: 500;
	font-style: normal;
}

