// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}