.relative {
	position: relative;
}

/*********************
TEXT ALIGNS
*********************/

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

/*********************
FLOATS
*********************/

.float-none {
	float: none;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

/*********************
TEXT STYLES
*********************/

.text-uppercase {
	text-transform: uppercase;
}

.text-medium {
	font-weight: 600;
}

.text-bold {
	font-weight: 700;
}

.text-black {
	font-weight: 900;
}

.text-hide {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
}

/*********************
BACKGROUND IMAGE
*********************/

.bg-image {
	background-repeat: no-repeat;
	background-position: center center;

	&--fit {
		background-size: contain;
	}

	&--fill {
		background-size: cover;
	}
}

/*********************
SPACE CLASSES
*********************/

.space {
	padding-top: rem-calc(25);
	padding-bottom: rem-calc(25);

	@include breakpoint(medium) {
		padding-top: rem-calc(40);
		padding-bottom: rem-calc(40);
	}

	@include breakpoint(large) {
		padding-top: rem-calc(100);
		padding-bottom: rem-calc(100);
	}

	@include breakpoint(xlarge) {
		padding-top: rem-calc(200);
		padding-bottom: rem-calc(200);
	}

}

.space--small {
	padding-top: rem-calc(15);
	padding-bottom: rem-calc(15);

	@include breakpoint(medium) {
		padding-top: rem-calc(25);
		padding-bottom: rem-calc(25);
	}

	@include breakpoint(large) {
		padding-top: rem-calc(40);
		padding-bottom: rem-calc(40);
	}

	@include breakpoint(xlarge) {
		padding-top: rem-calc(60);
		padding-bottom: rem-calc(60);
	}

}

.space--smaller {
	padding-top: rem-calc(15);
	padding-bottom: rem-calc(15);

	@include breakpoint(medium) {
		padding-top: rem-calc(20);
		padding-bottom: rem-calc(20);
	}

}

/*********************
PULL/PUSH CLASSES
*********************/

.large-pull-top {

	@include breakpoint(large) {
		margin-top: rem-calc(-100);
	}

}

.large-pull-top--small {

	@include breakpoint(large) {
		margin-top: rem-calc(-50);
	}

}

.xlarge-pull-left {

	@include breakpoint(xlarge) {
		transform: translateX(rem-calc(-100));
	}

}

/*********************
CLEAR MARGINS
*********************/

.clear-margin-b {
	margin-bottom: 0 !important;
}


/*********************
SEPARATOR
*********************/

.sep {
	height: 1px;
	width: 100%;
	border: 1px solid #D7D7D7;
}