/*********************
LIST ( UL, LI ) - STYLES
*********************/

.list {

	&--clean {
		list-style: none;
		padding: 0;
	}

	&--horizontal {
		
		.list__item {
			display: inline-block;
		}

	}

	&--docs {

		.list__item {
			position: relative;
			padding-left: rem-calc(25);
			margin-bottom: .5rem;

			&:before {
				content: $ionicon-var-android-document;
				font-family: $ionicons-font-family;
				position: absolute;
				left: 0;
				display: inline-block;
				color: $primary-color;
				font-size: 1.2em;
			}

		}

	}

}

.list__item {

}

.list__link {

}

.list--calendar {
	padding: 0;
}