/*********************
DESKTOP MENU STYLING
*********************/

.menu {
	list-style: none;

	&--main {
		display: none;
		padding: 0;
		margin: 0;
		color: $white;

		@include breakpoint(large) {
			display: flex;
			justify-content: flex-end;
		}
	}

}

.menu__item {
	position: relative;
	display: inline-block;
	list-style: none;
	padding: rem-calc(50 0);
	transition: all .2s ease;

	body.state--scrolled & {
		padding: rem-calc(20 0);
	}

	> .menu { // SUB MENU
		display: none;
		top: 100%;
		left: -12px;
		background-color: $primary-color;
		position: absolute;
		padding: rem-calc(20 0);
		margin: 0;
		border-top: 1px solid #275060;

		.menu__item {
			display: block;
			padding: rem-calc(0);
		}

		.menu__link {
			display: block;
			width: 100%;
			margin: 0;
			padding: rem-calc(3 30);
		}
	}

	&:hover {

		> .menu {
			display: block;
		}

	}
}

.menu__link {
	font-size: rem-calc(18);
	margin: rem-calc(0 18);
	font-weight: 600;

	.is-active > & {
		//color: $secondary-color;
	}

	&:hover {
		color: $secondary-color;
	}

}

.is-active > .menu__link {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: rem-calc(6);
		display: block;
		border-bottom: 2px solid $secondary-color;

		.menu .menu & {
			display: none;
		}
	}

	.menu .menu & {
		color: $secondary-color;
	}

}

/*********************
WPML LANGUANGE ITEMS STYLING
*********************/

.menu__link[title="Engelska"], .menu__link[title="English"] {
	font-weight: 400;

	@include breakpoint(large up) {
		margin-right: 0;
		padding-right: rem-calc(5);
		border-right: 1px solid $white;
	}

    html[lang="en-US"] & { // IS ACTIVE
    	font-weight: 600;

    }

    html[lang="sv-SE"] & { // NOT ACTIVE
    	
    	&:before {
			position: relative;
			top: -1px;
    	}

    }

	&:before {
		content: "EN";
		display: inline;

	}

	span {
		display: none;
	}

}

.menu__link[title="Svenska"], .menu__link[title="Swedish"] {
    font-weight: 400;

    @include breakpoint(large up) {
		margin-left: 0;
    	padding-left: rem-calc(5);
	}


    html[lang="sv-SE"] & { // IS ACTIVE
    	font-weight: 600;

    }

    html[lang="en-US"] & { // NOT ACTIVE
    	
    	&:before {
			position: relative;
			top: -1px;
    	}

    }

	&:before {
		content: "SV";
		display: inline;

	}

	span {
		display: none;
	}
	
}

/*********************
OFFCAMVAS MENU
*********************/

.menu--offcanvas {
	padding: 1em;
	text-align: center;
	color: $white;

	.menu__item {
		display: block;
		width: 100%;
		padding: 1rem 0;

	}

	.menu__link {
		display: inline-block;
		outline: none;
		margin: 0;
	}

}

.sub-menu {
	padding: 0;

	.menu__item {
		padding: rem-calc(10);
	}

	.menu__link {
		font-size: rem-calc(16);
	}

}

/*********************
MOBILE MENU TOGGLE
*********************/

.menu-toggle {

	outline: none;
	position: relative;
	display: inline-flex;
	z-index: 2;

	@include breakpoint(large) {
		display: none;
	}

}

.menu-toggle__text {
	color: $white;
	text-transform: uppercase;
	font-weight: 600;
	position: absolute;
    left: -140%;
    top: 50%;
    transform: translateY(-50%);
}

.hamburger {

	position: relative;
    display: block;
    height: rem-calc(41);
    width: rem-calc(36);

}

.hamburger__bar {

	display: block;
	background-color: $white;
	width: rem-calc(30);
	height: rem-calc(3);
	position: absolute;
	left: 0;
	right: 0;
	margin: 4px auto 0;
	cursor: pointer;
	@include transition(top, opacity, transform);

	&:nth-of-type(1) {
		top: 8px;
	}

	&:nth-of-type(2) {
		top: 16px;
		opacity: 1;
	}

	&:nth-of-type(3) {
		top: 24px;
	}

}

.menu-toggle[aria-expanded="true"]{

	.hamburger__bar {
		@include transition(top, opacity, transform);
	}

	.hamburger__bar:nth-of-type(2) {
		opacity: 0;
	}

	.hamburger__bar:nth-of-type(1) {
		transform: rotate(45deg);
		top: 16px;
	}

	.hamburger__bar:nth-of-type(3) {
		transform: rotate(-45deg);
		top: 16px;
	}

}