/*********************
HEADER
*********************/

.page-header {
	position: fixed;
	display: block;
	width: 100%;
	z-index: 8888;
	background-color: transparent;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.0);
	transition: all .2s ease;

	body.state--scrolled & {
		background-color: $primary-color;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
	}
}

.top-bar {
	padding: rem-calc(15 0);

	@include breakpoint(large) {
		padding: 0;
	}
}

.page-header__logo {

	@extend .text-hide;

	display: block;
	overflow: hidden;

	height: rem-calc(40);
	width: rem-calc(180);

	@include breakpoint(medium) {
		height: rem-calc(28);
		width: rem-calc(165);
	}

	background-image: url('../images/winit365-logo.svg');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;

	@include transition(width, height);

}