.pagination-section {
	background-color: #FBFBFB;
}

.pagination,
ul.page-numbers {
	position: relative;
	min-height: 24px;
	list-style: none;
    padding: rem-calc(14 0 12);
    text-align: center;

    @include breakpoint(large down){

    	&:after {
    		content: "";
    		display: block;
    		clear: both;
    	}
    }

}

.pagination__item,
ul.page-numbers li {
	display: inline-block;
	font-weight: 600;
	padding: rem-calc(0 15);

	&--prev,
	&--next,
	a.prev,
	a.next {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: rem-calc(14);
		transition: color .15s ease;

		&:hover {
			color: $primary-color;
		}

		&:before,
		&:after {
			display: inline-block;
			font-family: $ionicons-font-family;
			font-size: 1em;
			font-weight: 500;
			position: relative;
			top: .01em;
			line-height: 1rem;
		}

		@include breakpoint(large up) {
			position: absolute;
		}
	}

	&--prev,
	a.prev {
		float: left;

		@include breakpoint(large up) {
			left: 0;
		}
		
		&:before {
			content: $ionicon-var-chevron-left;
			padding-right: 1rem;
		}
	}

	&--next,
	a.next {
		float: right;

		@include breakpoint(large up) {
			right: 0;
		}

		&:after {
			content: $ionicon-var-chevron-right;
			padding-left: 1rem;
		}
	}

	&.current,
	a.current,
	.current, {
		color: $secondary-color;
	}

	@include breakpoint(950 down) {

		&:not(.pagination__item--prev, .pagination__item--next) {
			display: none;
		}
	}
}