.person {
	margin-bottom: rem-calc(40);
}

.person__image {
	position: relative;
	margin-bottom: rem-calc(20);

	&:after {
		content: "";
		display: block;
		padding-bottom: calc(355/290 * 100%);
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}