.stock-stat {
	position: relative;
	background-color: $primary-color;
	border-radius: 50%;
	width: 100%;
	color: $white;
	max-width: rem-calc(250);
	margin: 0 auto;

	&:after {
		content: "";
		display: block;
		padding-bottom: 100%; 
	}

	@include breakpoint(large up){
		float: right;
	}

	@include breakpoint(large up){
		width: rem-calc(320);
		max-width: none;
	}
}

.stock-stat__inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.stock-stat__change {
	font-size: rem-calc(18);
	font-weight: 600;
	line-height: 1.15;

	&:after {
		content: $ionicon-var-arrow-down-b;
		display: inline-block;
		font-family: $ionicons-font-family;
		font-size: 1.65em;
	    position: relative;
	    top: .16em;
	    left: .3em;
	}

	&--positive:after {
		color: #74B973;
		transform: scaleY(-1);
	}

	&--negative:after {
		color: $secondary-color;
		top: .15em;
	}

}

.stock-stat__number {
	font-size: rem-calc(60);
	font-weight: 600;
	line-height: 1.15;
}

.stock-stat__text {
	font-size: rem-calc(18);
	font-weight: 600;
}