.top-section {
	background-color: $primary-color;
	color: $white;
	padding: rem-calc(70 0 30 0);

	@include breakpoint(medium up) {
		padding: rem-calc(90 0 40 0);
	}

	@include breakpoint(large up) {
		padding: rem-calc(150 0 110 0);
	}

	@include breakpoint(xlarge up) {
		padding: rem-calc(170 0 130 0);
	}

}