/*********************
LINK STYLES
*********************/

a {

	color: inherit;
	text-decoration: none;
	cursor: pointer;

	@include transition(color);

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}

}

/*********************
TYPOGRAPHY STYLES
*********************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {

	//font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 700;
	margin: 0 0 $header-margin-bottom;

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}

}

h1, .h1 {
	font-size: rem-calc(30);
	line-height: 1.4;

	@include breakpoint(medium) {
		font-size: rem-calc(32);
	}

	@include breakpoint(large) {
		font-size: rem-calc(38);
	}

	@include breakpoint(xlarge) {
		font-size: rem-calc(48);
	}

}

h2, .h2 {
	font-size: rem-calc(25);
	line-height: 1.4;

	@include breakpoint(medium) {
		font-size: rem-calc(28);
	}

	@include breakpoint(large) {
		font-size: rem-calc(32);
	}

	@include breakpoint(xlarge) {
		font-size: rem-calc(34);
	}


}

h3, .h3 {
	font-size: rem-calc(22);
	line-height: 1.3;

	@include breakpoint(large) {
		font-size: rem-calc(24);
	}


}

h4, .h4 {
	font-size: rem-calc(18);
	line-height: 1.3;

	@include breakpoint(large) {
		font-size: rem-calc(21);
	}

}

h5, .h5 {
	font-size: rem-calc(16);
	line-height: 1.3;

	@include breakpoint(large) {
		font-size: rem-calc(18);
	}

}

h6, .h6 {
	font-size: rem-calc(16);
	line-height: 1.3;

	@include breakpoint(large) {
		font-size: rem-calc(18);
	}

}

p,
.text-default {
	font-size: rem-calc(14);
	line-height: 1.5;
	font-weight: 400;
	margin-top: 0;

	@include breakpoint(medium) {
		font-size: rem-calc(16);
		line-height: 1.64;
	}

	@include breakpoint(large) {
		font-size: rem-calc(20);
	}

	@include breakpoint(xlarge) {
		font-size: rem-calc(22);
	}


}

.text-large {
	font-size: rem-calc(16);
	line-height: 1.6;
	font-weight: 600;

	@include breakpoint(medium) {
		font-size: rem-calc(20);
	}

	@include breakpoint(large) {
		font-size: rem-calc(22);
	}

	@include breakpoint(large) {
		font-size: rem-calc(24);
	}

}

.text-small {
	font-size: rem-calc(14);
	line-height: 1.5;

	@include breakpoint(medium) {
		font-size: rem-calc(16);
	}

	@include breakpoint(large) {
		font-size: rem-calc(18);
	}

}

.text-smaller {
	font-size: rem-calc(12);
	line-height: 1.5;

	@include breakpoint(medium) {
		font-size: rem-calc(14);
	}

	@include breakpoint(large) {
		font-size: rem-calc(14);
	}

}

.text-uppercase {
	text-transform: uppercase;
}

.text-stronger {
	font-weight: 600;
}

/*********************
LINKS
*********************/

.link {
	font-size: rem-calc(14);
	text-transform: uppercase;
	font-weight: 600;
	outline: none;

	&:hover {
		color: $secondary-color;
	}
}

.link--arrow-r {
	
	&:after {
		font-family: $ionicons-font-family; 
		content: $ionicon-var-chevron-right;
		display: inline-block;
		font-weight: 200;
		font-size: 0.75em;
		padding-left: .8em;
		position: relative;
		top: -.05em;
	}

}

/*********************
COLORS
*********************/

.color-primary {
	color: $primary-color;
}

.color-secondary {
	color: $secondary-color;

	@at-root a#{&}:hover {
		color: $primary-color;
	}
}

.color-light-gray {
	color: $light-gray;
}

.color-light-medium-gray {
	color: $light-medium-gray;
}

.color-medium-gray {
	color: $medium-gray;
}